@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-home {
  background: url('/home.jpg');
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
}

@media (min-width:768px) {
  .elementFlex {
    margin-left: auto;
  }
  .bg-home:{
    background-position: left;
    background-size: contain;
  }
}

#green-box {
  box-shadow: 10px 20px 15px;
}



